name: Windows

on: [push, repository_dispatch]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    env:
      WXWIN: D:\a\hxWidgets\hxWidgets\wxWidgets-3.1.3

    strategy:
      matrix:
        os: [windows-latest]
        haxe-version: [4.0.5, 4.1.5, 4.2.2]

    steps:
    - uses: actions/checkout@v1
    - uses: egor-tensin/vs-shell@v2
    - name: Setup Haxe (haxe ${{ matrix.haxe-version }}, ${{ matrix.os }})
      uses: krdlab/setup-haxe@v1
      with:
        haxe-version: ${{ matrix.haxe-version }}

    - name: Setup app (haxe ${{ matrix.haxe-version }}, ${{ matrix.os }})
      run: |
        choco install wget --no-progress
        wget https://github.com/wxWidgets/wxWidgets/releases/download/v3.1.3/wxWidgets-3.1.3.tar.bz2
        7z x wxWidgets-3.1.3.tar.bz2
        7z x wxWidgets-3.1.3.tar
        cd wxWidgets-3.1.3\build\msw
        nmake.exe -f makefile.vc BUILD=release TARGET_CPU=X64
        nmake.exe -f makefile.vc BUILD=release SHARED=1 TARGET_CPU=X64
        cd ..\..\..
        haxelib install hxcpp --always --quiet
        haxelib install hscript --always --quiet
        haxelib dev hxWidgets .
        
    - name: Build app (haxe ${{ matrix.haxe-version }}, ${{ matrix.os }})
      run: |
        cd samples\00-Showcase
        haxe build-static.hxml

